*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

:root {
  --primaryColorHue: 252;
  --colorDarkLightForMode: 15%;
  --colorLightForMode: 92%;
  --colorWhiteForMode:100%;
  --color-white: hsl(0, 0%, var(--colorWhiteForMode));
  --color-light: hsl(252, 30%, var(--colorLightForMode));
  --color-gray: hsl(252, 15%, 60%);
  --color-primary: hsl(var(--primaryColorHue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 60%);
  --color-danger: hsl(0, 95%, 60%);
  --color-dark: hsl(252, 30%, var(--colorDarkForMode));
  --color-black: hsl(252, 30%, 8%);
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --btn-padding: 0.6rem 2rem;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-dark);
   background: var(--color-light); 
  
}


/* 
    ====================== 
        Custom Styling
    ======================
*/
.container {
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.profile-picture {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture:hover {
  opacity: 0.75;
}

.btn {
  padding: var(--btn-padding);
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 500;
  transition: 300ms ease all;
}

.btn:hover {
  opacity: 0.75;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.text-bold {
  font-weight: 500;
}

.text-gray {
  color: var(--color-gray);
}

/* 
    ====================== 
        Navbar Styling
    ======================
*/


/* Show dropdown content on hover */

.profile-picture:hover .dropdown-content {
  display: block;
}
/* 
    ========================== 
        Start Main Left
    ==========================
*/

aside .active::before {
  content: " ";
  display: block;
  width: 0.5rem;
  height: 100%;
  background: var(--color-primary);
}

aside .menu-item:nth-child(1) {
  overflow: hidden;
  border-top-left-radius: var(--card-border-radius);
}

aside .menu-item:last-child {
  overflow: hidden;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

aside .menu-item:nth-last-child(2) {
  overflow: hidden;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}


/*========= ===Start Notification Box========= */

.notification-box::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-white);
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}

.notification-box > div {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-bottom: 1rem;
}

.notification-box .profile-picture {
  width: 2.6rem;
}

.notification-box > div small {
  display: block;
}

/*============End Notification Box========= */

/* 
    ========================== 
        End Main Left
    ==========================
*/

/* 
    ========================== 
        Start Main Middle
    ==========================
*/

/*==========Story Design Start=========*/

.mid-container {
  max-width: 700px !important;
  width: 90%;
  margin: 0 auto;
}

.story::before {
  height: 5rem;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, var(--color-primary));
  width: 100%;
}
.stories-wrapper .story:first-child {
  background: var(--color-primary);
}

.story p {
  text-align: center;
  margin-top: -3rem;
  color: var(--color-white);
  z-index: 8;
  position: absolute;
  width: 100%;
}

.story .add-story {
  background: var(--color-primary);
  
}

.story .add-story p {
  margin-bottom: -7rem;
}

/*==========Story Design End=========*/
/*

/*===========NewsFeed Area Start============*/

.action-button span:first-child i {
  font-weight: normal;
}

.action-button span:nth-child(2) i {
  font-weight: normal;
}

.liked-by span:first-child {
  margin: 0;
}


.edit-menu li:hover {
  color: var(--color-dark);
}
*/
.edit-menu li:last-child:hover {
  color: var(--color-danger);
}
.edit-menu {
  transform: scale(0);
  transition: 300ms all ease;
}
.edit:hover .edit-menu {
  transform: scale(1);
}

/*===========NewsFeed Area End============*/

/* 
    ========================== 
        End Main Middle
    ==========================
*/


/* css for the add post when user click on add post from navbar it highlight the add post */

.boxshadow1 {
  box-shadow: 0 0 1rem var(--color-primary);
}

/* css for the toggle like post it  add color when user like the post */
.liked{
  font-weight: bold !important;
  color: var(--color-danger);

}

/* ===============Styling for Colors Start================= */

.choose-color span:nth-child(1){
  background: hsl(252, 75%, 60%);
}

.choose-color span:nth-child(2){
  background: hsl(52, 75%, 60%);
}

.choose-color span:nth-child(3){
  background: hsl(352, 75%, 60%);
}

.choose-color span:nth-child(4){
  background: hsl(152, 75%, 60%);
}

.choose-color span:nth-child(5){
  background: hsl(262, 75%, 60%);
}

/* ===============Styling for Colors End================= */

/* ===============Styling for Background Start================= */
.choose-background  .bg1{
background: white;
box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.3);
color: black;
}

.choose-background  .bg2{
  color: white;
  background: hsl(252, 30%, 17%);
  }
  
/* ===============Styling for Background End================= */




/*==========Media Queries=============*/
/*==========MAX WIDTH 1200PX===========*/

@media  screen and (max-width:1200px) {
  .container{
    width: 96% !important;
  }

  main .container{
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem !important;
  }

  .main-left-side{
    width: 5rem !important;
    z-index: 5 !important;
    margin-top: -13rem !important;
  }
  main .container .main-left-side .profile{
    display: none !important;
  }
  .sidebar h3{
    display: none !important;
  }
  .sidebar .btn{
    display: none !important;
  }
}


/*==========MAX WIDTH 992PX===========*/
  
@media  screen and (max-width:992px){
    nav .search-bar{
      display: none !important;
    }
    main .container{
      grid-template-columns: 0 auto 1rem !important;
      gap: 0 !important;
    }
    
    main .container .main-left-side{
      grid-column: 3/4 !important;
      position: fixed !important;
      bottom: 10 !important;
      right: 0 !important;
      width: 6rem !important;    
    }

    .main-left-side .sidebar .notification-box::before{
      display: absolute !important;
      top: 1.3rem !important;
      left:  calc(20rem - 0.6rem) !important;
      display: flex !important;
    }
    

    main .container .main-mid-side{
      grid-column: 1/3 !important;
    }
    main .container .main-right-side{
      display: none !important;
    }
  }
  /*==========MAX WIDTH 1024PX===========*/

/*}*/











/*==========Media Queries=============*/